In [36]:
name = "ana"
age=23 
price=25.99
print(name,age,price)
print("my name is:",name)
age2=age
print(age2)
print(type(price))

ana 23 25.99
my name is: ana
23
<class 'float'>

In [47]:
a=2 #singleline 
b=6 
mul=a**b #power of b 
"""
multi 
line
"""
print(mul)
print(a==b)
print(a!=b)
print(a<=b)
b+=5
print(b)

64
False
True
True
11

In [63]:
a=int("2")
b=4.0
print(type(a))
print(a+b)

<class 'int'>
6.0

In [69]:
name = input("enter ur name:")
print(name)

enter ur name: nandini

nandini

In [1]:
#input user first name and print its length

name=input("enter your name:")
print("the length of string is = ",len(name))

enter your name: nandini

the length of string is =  7

In [11]:
#find the occurence of dollars in string
  
str = "hi ,$am the dollar$ $100"
print(str.count("$"))

3

In [3]:
light = input("give the color")
if(light == "red"):
  print("stop")
elif(light == "green"):
  print("go")
elif(light == "yellow"):
    print("ready")
else:
    print("end of code")

give the color yellow

ready

In [14]:
#Nesting 
age = 32

if(age>=18):
    if(age>=34):
       print("cannot drive")
    else:
       print("can drive")

else:
    print("cannot drive")

can drive

In [16]:
#check if no. entered is odd or even

num = int(input("enter the number"))

condition = num % 2

if(condition == 0):
    print("EVEN")
else:
    print("ODD")

enter the number 15

ODD

In [22]:
#find greatest of 3 numbers entered by user
a = int(input("enter the first number"))
b = int(input("enter the second number"))
c = int(input("enter the third number"))

if(a>=b and a>=c):
    print("first number is largest",a)
elif(b>=a and b>=c):
    print("second number is largest",b)
else:
    print("third number is largest",c)

enter the first number 4
enter the second number 7
enter the third number 2

second number is largest 7

In [26]:
#check if number is multiple of 7 or not
x = int(input("enter the number"))

if(x % 7 == 0):
   print("multiple of 7")
else:
   print("not multiple of 7")

enter the number 68

not multiple of 7

In [43]:
#list = stores a set of values can handle different datatypes 
# lists are mutable
marks = [90,33,45,60]
print(marks)
print(type(marks))
print(marks[2])
print(len(marks))
student = ["shree",95.6,17,"nagpur"]
print(student)
print(student[0])
student[0] = "priyanka"
print(student[0])
#list slicing
num = [10,20,40,90,30]
print(num[1:4])
num.append(60)
print(num)
num.sort()
print(num)
num.sort(reverse=True)
print(num)
num.reverse()
print(num)
num.remove(10)
print(num)
num.pop(3)
print(num)

[90, 33, 45, 60]
<class 'list'>
45
4
['shree', 95.6, 17, 'nagpur']
shree
priyanka
[20, 40, 90]
[10, 20, 40, 90, 30, 60]
[10, 20, 30, 40, 60, 90]
[90, 60, 40, 30, 20, 10]
[10, 20, 30, 40, 60, 90]
[20, 30, 40, 60, 90]
[20, 30, 40, 90]

In [3]:
#tupple is immutable sequence of values just like strings
tup = (10,20,30,40,50)
print(type(tup))
print(tup[1])
print(tup.count(20))

<class 'tuple'>
20
1

In [5]:
#ask user to enter the name of their 3 fav movies and store them in a list
movies = []
first = input("enter the name of the first movie")
second = input("enter the name of the second movie")
third = input("enter the name of the third movie")

movies.append(first)
movies.append(second)
movies.append(third)
print(movies)

enter the name of the first movie twilight saga
enter the name of the second movie panchayat
enter the name of the third movie mirzapur

['twilight saga', 'panchayat', 'mirzapur']

In [7]:
#if a list contains a palindrome of elements. use copy method eg:"maam"
 
list1 = [1,2,1]
list2 = [1,2,3]

copy_list1 = list1.copy()
copy_list1.reverse()

if(copy_list1 == list1):
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [13]:
#count the number of students with A grade in the foll tupple
tup = ("C","D","A","A","B","B","E")
print(tup.count("A"))

2

In [15]:
#dictionaries are used to store key value pair. they are unordered, mutable(changeable), dont allow duplicates
info = {"age" : 35,
        "name" : "shree",
        "marks" : 96.5}
print(type(info))
print(info)
print(info["name"])
info["name"] = "nandini"
print(info)
# nested dict 
student = {"name" : "nandini",
           "subjects" : {
               "phy" : 97,
               "chem" : 98,
               "math" : 95}}
print(student["subjects"])
print(student.keys())
print(student.values())
print(student.items())
print(student.get("name"))


new_dict = {"city" : "delhi"}
student.update(new_dict)
print(student)

<class 'dict'>
{'age': 35, 'name': 'shree', 'marks': 96.5}
shree
{'age': 35, 'name': 'nandini', 'marks': 96.5}
{'phy': 97, 'chem': 98, 'math': 95}
dict_keys(['name', 'subjects'])
dict_values(['nandini', {'phy': 97, 'chem': 98, 'math': 95}])
dict_items([('name', 'nandini'), ('subjects', {'phy': 97, 'chem': 98, 'math': 95})])
nandini
{'name': 'nandini', 'subjects': {'phy': 97, 'chem': 98, 'math': 95}, 'city': 'delhi'}

In [19]:
#sets is the collection of the unordered items,each element must be unique and elements are immutable. no duplicates printed
set={1,2,2,4,"hello","world"}
print(set)
print(type(set))
set.add("xyz")
print(set)
set.remove("xyz")
print(set)
#set.clear()
#set.pop()
set2={2,8,9}
print(set.union(set2))
print(set.intersection(set2))

{1, 2, 4, 'hello', 'world'}
<class 'set'>
{1, 2, 4, 'hello', 'xyz', 'world'}
{1, 2, 4, 'hello', 'world'}
{1, 2, 4, 8, 9, 'hello', 'world'}
{2}

In [32]:
# while loop 
count=1
while count<=5:
    print("hello",count)
    count +=1
print("********************************************************************")
i=1
while i<=100:
    print(i)
    i += 1
print("********************************************************************")
n= int(input("enter number:"))
i=0
while i<=10:
    print(n*i)
    i += 1
print("********************************************************************")
num=[1,4,9,16,25,36,49,64,81,100]
i=0
while i < len(num):
     print(num[i])
     i += 1
print("********************************************************************")
tup=(1,4,9,16,25,36,49,64,81,100)
x=36
i=0
while i < len(num):
    if(tup[i] == x):
        print("found at index",i)
    else:
        print("finding")
    i += 1

hello 1
hello 2
hello 3
hello 4
hello 5
********************************************************************
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
********************************************************************

enter number: 3

0
3
6
9
12
15
18
21
24
27
30
********************************************************************
1
4
9
16
25
36
49
64
81
100
********************************************************************
finding
finding
finding
finding
finding
found at index 5
finding
finding
finding
finding

In [66]:
#for loop
num=[1,4,9,16,25,36,49,64,81,100]
x=64
idx=0
for el in num:
    if(el==x):
      print("number found at idx",idx)
    idx+=1
#range is a function returns a sequence of numbers or strings from by default 0 and increments by 1 and stops before specified number

for i in range(10):
    print(i)
    
print("________________________________")
for i in range(1,10):
    print(i)
   
print("________________________________")
for i in range(1,10,2):
    print(i)
    
print("________________________________")
n=int(input("enter number"))
for i in range(1,11):
    print(n*i)

number found at idx 7
0
1
2
3
4
5
6
7
8
9
________________________________
1
2
3
4
5
6
7
8
9
________________________________
1
3
5
7
9
________________________________

enter number 1

1
2
3
4
5
6
7
8
9
10

In [68]:
n=5
fact = 1
i=1
while i<= n:
    fact *= i
    i+=1

print("the factorial is ",fact)

the factorial is  120